.icons {
    width: 174px;
    border: 1px solid palegoldenrod;
    display: flex;
    justify-content: space-between;
}

.icon__link:hover,
.nav__icon:hover {
    cursor: pointer;
    fill: $green;
}